<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>


<!--/*@thymesVar id="name" type="ru.stepanov"*/-->
<p th:text="'Hello, ' + ${name} + '!'"/>


<form action="/home" method="get">
    <div>
        <p>First summand:</p>
        <!--/*@thymesVar id="param1" type="ru.stepanov"*/-->
        <input type="text" name="param1" th:placeholder="${param1}">
    </div>
    <div>
        <p>Second summand:</p>
        <!--/*@thymesVar id="param2" type="ru.stepanov"*/-->
        <input type="text" name="param2" th:placeholder="${param2}">
    </div>
    <input type="submit" value="get Sum"/>

    <div>
        <!--/*@thymesVar id="sum" type="ru.stepanov"*/-->
        <p th:text="'Sum= ' + ${sum}"/>
    </div>
</form>


</body>
</html>